[NodeInfo]
NODE_ID=12345
LINKED_NODE_ID=1999

[DMR_BrandMeister]
modemaster=11
mode=DMR
url=3102.master.brandmeister.network
port=62031
password=PASSWORD
type=NA

[DMR_TGIF]
modemaster=12
mode=DMR
url=tgif.network
port=62031
password=PASSWORD
type=NA

[DMR_DMRPLUS]
modemaster=13
mode=DMR
url=45.79.197.51
port=55555
password=PASSWORD
type=NA

[DSTAR_REF]
modemaster=21
mode=D-STAR
url=NA
port=NA
password=NA
type=REF

[DSTAR_XLX]
modemaster=22
mode=D-STAR
url=NA
port=NA
password=NA
type=XLX

[DSTAR_DCS]
modemaster=23
mode=D-STAR
url=NA
port=NA
password=NA
type=DCS

[DSTAR_XRF]
modemaster=24
mode=D-STAR
url=NA
port=NA
password=NA
type=XRF

[YSF_PARROT]
modemaster=31
mode=YSF
url=register.ysfreflector.de
port=42020
password=NA
type=NA

[YSF_USALINK]
modemaster=32
mode=YSF
url=americalink.hamfm.com
port=42000
password=NA
type=NA

[YSF_KCWIDE]
modemaster=33
mode=YSF
url=ysf.kansascitywide.com
port=42000
password=NA
type=NA

[NXDN]
modemaster=41
mode=NXDN
url=NA
port=NA
password=NA
type=NA

[P25]
modemaster=51
mode=P25
url=NA
port=NA
password=NA
type=NA
